{% extends 'base.html' %}

{% block head %}
    {{ blog.name }}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="item">
            <div class="item_head">
                <h2 class="item_title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h2>
            </div>
            <div class="blurb">
                {{ post.content|truncatewords:50 }}
            </div>
            <div class="signature">
                - {{ post.author }}
            </div>
        </div>
    {% endfor %}
{% endblock %}