{% extends 'base.html' %}

{% block head %}
    {{ user.username }}'s Blogs
{% endblock %}

{% block content %}
    {% for blog in blogs %}
        <div class="item">
            <div class="item_head">
                <h2 class="item_title">
                    <a href="{{ blog.get_absolute_url }}">{{ blog.name }}</a>
                </h2>
            </div>
            <div class="blurb">
                {{ blog.intro|truncatewords:50 }}
            </div>
        </div>
    {% endfor %}    
{% endblock %}