{% extends 'base.html' %}

{% block content %}
<p class="intro sans-serif">
    Welcome to my project! You can view other people's blogs and posts, as well as their profiles. You can also create a profile, which will allow you to comment and blog yourself! Have fun! Lorem ipsum dolor sit amet consectetur adipisicing elit. Et doloremque praesentium eveniet, ducimus, omnis qui quibusdam quasi dolores facilis quisquam voluptatum aperiam, voluptatibus excepturi accusantium. Cupiditate quos doloribus ullam placeat.
</p>
{% endblock %}